html, body {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    width: 300px;
}

body {
    border: solid 4px #6A0C0B;
    padding: 0px 20px 20px 20px;
    font-family: 'Bangers', cursive;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
    margin: 0px auto;
}

h1 {
    color: #FBCA03;
    background-color: #AA0505;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: #6A0C0B;
}

.apple {
    background-color: #B97D10;
}

#outcome {
    color: red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
